<nav class="navbar" style="background-color: rgb(61, 62, 65);">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="/addAttendance">
            <img class="logo" src="assets/Images/employeeLogo.png">
            <span class="navbar-brand mb-0 h1 text-light">Add Attendance</span>
        </a>

    </div>
    <button type="button" class="btn btn-light" routerLink="/attendance">Attendance</button>&nbsp;
    <button type="button" class="btn btn-light " (click)="OnLogout()">Logout</button>&nbsp;&nbsp;&nbsp;
</nav>

<form [formGroup]="AttendanceByDateForm" (ngSubmit)="OnGetAttendanceByDate(attendancee)">
    <mat-form-field style="margin-left: 900px; margin-top: 20px;">
        <input matInput [matDatepicker]="picker" class="form-control" formControlName="date"
            placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button type="submit" class="btn btn-secondary">submit</button>
</form>

<div *ngIf="showData">
    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr class="table-danger border border-secondary">
                    <th>Employee Name</th>
                    <th *ngFor="let record of resp.data.attendance">{{ record.date }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let attendee of getUniqueAttendees1()">
                    <td>{{ attendee.name }}</td>
                    <ng-container>
                        <td *ngFor="let record of resp.data.attendance">
                            <span *ngIf="!attendancee.isEditMode">{{ getAttendanceStatus1(attendee, record) }}</span>
                            <select *ngIf="attendancee.isEditMode" [(ngModel)]="attendee.record">
                                <option disabled selected>Select status</option>
                                <option value="present">Present</option>
                                <option value="absent">Absent</option>
                                <option value="late">Late</option>
                            </select>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="margin-left: 1000px;">
        <button *ngIf="!attendancee.isEditMode" class="btn btn-secondary" type="button"
            (click)="toggleEditMode(attendancee)">Edit</button>
        <button *ngIf="attendancee.isEditMode" class="btn btn-success" type="button"
            (click)="OnUpdateAttendance(attendancee)">Save</button>&nbsp;
        <button *ngIf="attendancee.isEditMode" class="btn btn-danger" type="button"
            (click)="Cancel(attendancee)">Cancel</button>
    </div>
</div>

<div *ngIf="!showData">
    <!-- Show create attendance form -->
    <form [formGroup]="AttendanceForm" (ngSubmit)="OnCreateAttendance()">
        <div *ngIf="employees && employees.length > 0">
            <div class="container">
                <table class="table ">
                    <thead class="thead-dark">
                        <tr class="table-danger border border-secondary">
                            <th>Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="employees">
                        <tr *ngFor="let employee of employees; let i = index" [formGroupName]="i">
                            <td>{{ employee.name }}</td>
                            <td>
                                <select class="form-control" formControlName="status">
                                    <option disabled selected>Select status</option>
                                    <option value="present">Present</option>
                                    <option value="absent">Absent</option>
                                    <option value="late">Late</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button type="submit" style="margin-left: 600px;" class="btn btn-secondary">Submit</button>
    </form>
</div>